.current {
    background-color: steelblue;
    color: white;
}

.current:hover {
    background-color: steelblue;
}

input[type="button"], button {
    padding: 2px 4px;
    background-color: #c9c9c9;
    border-width: 0px;
}

input:hover, button:hover{
    background-color: darkgrey;
}

.list {
    display: none;
}

.show {
    display: block;
    margin-left: 225px;
}

.show .adders {
    display: block;
}